.quote {
    color: #009FD3;
    text-align: center;
    width: 60%;
    padding-top: 1rem;
    margin: 0 auto;
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;

}

.hr {
    box-shadow: 0px 1px 2px rgba(238, 89, 198, 0.9);
    border-radius: 15px;
    border-top: 1px solid rgb(240, 141, 214);
    width: 40%;
    margin: 0 auto;
}

.author {
    color: chartreuse;
}