@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Hubballi&family=Italiana&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: 400;
  min-height: 100vh;
  font-family: 'Hubballi', cursive;
  font-size: 24px;
  background-color: black;
  color: #F5F3DF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 1rem;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 32px;
  color: rgb(0, 159, 211);
  color: linear-gradient(180deg, rgba(0, 159, 211, 1) 0%, rgba(0, 159, 211, 0.5561312607944733) 51%, rgba(0, 159, 211, 0.227979274611399) 100%);

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 52px;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1rem;
  font-family: 'Italiana', cursive;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  color: #028F3D;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}

h3 {
  margin-bottom: 0.5rem;
  font-family: 'Italiana', cursive;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 24px;
  color: #F3A916;
}

h4 {
  font-family: 'Hubballi', cursive;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 20px;
  color: #009FD3;
}

h5 {
  font-family: 'Italiana', cursive;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 16px;
}

input,
textarea {
  color: black;
  background-color: #009FD3;
}

input::placeholder,
textarea::placeholder {
  color: #F5F3DF;
}